.machine{
    height: 300px;
    width: 800px;
    margin: 50px;
    background-color: orange;
    border: dashed blue 3px;
    display: flex;
}

.slot{
    background-color: beige;
    height: 200px;
    width: 200px;
    border: solid black 2px;
    margin: 30px;
    text-align: center;
    font-size: 50px;
    line-height: 180px;
}

#inspeed{
    /* background-color: aqua; */
    margin-left: 49px;
    width: 80px;
    font-size: 30px;
}
.slot > .value{
    animation-name: slotspin;
    animation-iteration-count: infinite;
    animation-duration: calc(1s/var(--speed));
    animation-play-state:paused;
}
@keyframes slotspin {
    0%{
        transform: translateY(-80px);
    }
    100%{
        transform: translateY(80px)
    }
}