*{
    background-color:  lightcyan;
}

#id1{
    background-color: lightgreen;
}

.cl1{
    background-color: lightcoral;
}

div{
    background-color: lightseagreen;
}
#id1{
    background-color: lightsteelblue;
}